.p-gnav {
    padding: 10px 0;
    @include tab {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__list{
        display: flex;
        &__item {
            padding-right: 20px;
        }
    }

}