.p-gnav {
    // border-left: 1px white solid;
    // animation: down 1s;
    &__list {
        margin-right: 30px;
        & li {
            padding-right: 30px;
        }
    }
}


.line {
    margin-right: 100px;
    writing-mode: vertical-lr;
    width: 2px;
    height: 200px;
    background-color: white;
    animation: down 1s ;
    // transform: rotate(180deg);
}
@keyframes down {
    0% {
        height: 0px;

    }
    100% {
        height: 200px;

    }
}