.p-header {
    width: 100%;
    height: 100vh;
    background-image: url(/img/mainvisual-sp.jpeg);
    background-position: center;
    background-size: cover;
    color: white;
    padding: 20px 20px;
    writing-mode: vertical-rl;
    position: relative;
}