.p-news {
    width: 100%;
    padding: 100px 40px;
    writing-mode: vertical-rl;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    // align-items: center;
    &__title {
        display: flex;
        flex-direction: column;
    }
}