.c-button {
    display: none;
    @include tab {
        display: block;
        width: 200px;
        line-height: 100px;
        background: black;
        color: white;
        position: absolute;
        top: 0;
        right: 0;
    }
}